
CurveTool/CurveMonitor/bin
CurveTool/CurveMonitor/obj
CurveTool/PluginPort/bin
CurveTool/PluginPort/obj
CurveTool/SerialPortPlugin/bin
CurveTool/SerialPortPlugin/obj
CurveTool/CurveMonitor/bin/Debug/CurveMonitor.exe
CurveTool/CurveMonitor/bin/Debug/CurveMonitor.exe.config
CurveTool/.vs/CurveTool/v16/Server/sqlite3/db.lock
CurveTool/.vs/CurveTool/v16/Server/sqlite3/storage.ide
CurveTool/CurveMonitor/bin/Debug/CurveMonitor.pdb
CurveTool/CurveMonitor/obj/Debug/App.g.cs
CurveTool/CurveMonitor/obj/Debug/App.g.i.cs
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.csproj.CoreCompileInputs.cache
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CurveTool/Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CurveTool/Test/bin/Debug/Test.pdb
CurveTool/Test/bin/Debug/Test.exe.config
CurveTool/Test/bin/Debug/Test.exe
CurveTool/CurveMonitor/obj/Debug/src/Graph/GraphWindow.g.i.cs
CurveTool/CurveMonitor/obj/Debug/src/Graph/CurveWindow.g.i.cs
CurveTool/CurveMonitor/obj/Debug/src/Graph/CurveWindow.g.cs
CurveTool/CurveMonitor/obj/Debug/src/Graph/CurveWindow.baml
CurveTool/CurveMonitor/obj/Debug/MainWindow.g.i.cs
CurveTool/CurveMonitor/obj/Debug/MainWindow.g.cs
CurveTool/CurveMonitor/obj/Debug/MainWindow.baml
CurveTool/CurveMonitor/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
CurveTool/CurveMonitor/obj/Debug/GeneratedInternalTypeHelper.g.cs
CurveTool/CurveMonitor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CurveTool/CurveMonitor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CurveTool/CurveMonitor/obj/Debug/CurveMonitor_MarkupCompile.lref
CurveTool/CurveMonitor/obj/Debug/CurveMonitor_MarkupCompile.i.lref
CurveTool/CurveMonitor/obj/Debug/CurveMonitor_MarkupCompile.i.cache
CurveTool/CurveMonitor/obj/Debug/CurveMonitor_MarkupCompile.cache
CurveTool/CurveMonitor/obj/Debug/CurveMonitor_Content.g.i.cs
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.Properties.Resources.resources
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.pdb
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.g.resources
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.exe
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.csprojAssemblyReference.cache
CurveTool/CurveMonitor/obj/Debug/CurveMonitor.csproj.GenerateResource.cache
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.csproj.CoreCompileInputs.cache
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
CurveTool/Test/obj/Debug/Test.csprojAssemblyReference.cache
CurveTool/Test/obj/Debug/Test.exe
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.pdb
CurveTool/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
